/*
* name:Global && Pc StyleSheet
* version:v3.3.1
* update:雪碧图对齐
* date:2016-04-30
*/

/* 雪碧图 */
/* 对齐方案引用(http://www.zhangxinxu.com/wordpress/2016/03/css-layout-base-20px/) */
.ico { display:inline-block; width:20px; height:20px; white-space:nowrap; letter-spacing:-1em; text-indent:-99em; color:transparent; background:url("../img/ico.png"/*tpa=https://www.cttq.com/en/resources/web/img/ico.png*/);
	*text-indent:0; *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\3000');}
.ico:before {content:'\3000';}
.ico1_2 { background-position:-20px 0;}
.ico1_3 { background-position:-40px 0;}
.ico1_4 { background-position:-60px 0;}
.ico1_5 { background-position:-80px 0;}
.ico2_1 { background-position:0 -20px;}
.ico2_2 { background-position:-20px -20px;}
.ico2_3 { background-position:-40px -20px;}
.ico2_4 { background-position:-60px -20px;}
.ico2_5 { background-position:-80px -20px;}
.ico3_1 { background-position:0 -40px;}
.ico3_2 { background-position:-20px -40px;}
.ico3_3 { background-position:-40px -40px;}
.ico3_4 { background-position:-60px -40px;}
.ico3_5 { background-position:-80px -40px;}
.ico4_1 { background-position:0 -60px;}
.ico4_2 { background-position:-20px -60px;}
.ico4_3 { background-position:-40px -60px;}
.ico4_4 { background-position:-60px -60px;}
.ico4_5 { background-position:-80px -60px;}
/* 常量设置 */
html { overflow-x:auto;}
html,body,.wrap { min-width:1200px;}
.wrap { width:1200px; margin-right:auto; margin-left:auto;}
body{font-size:13px; line-height:1.6; color:#555; background:#fff;}
a{color:inherit;}
a:hover { color:#e9564d;}
::-moz-selection {color:#fff; background:#e9564d; }
::selection {color:#fff; background:#e9564d; }
::-webkit-input-placeholder { color:#aaa; } 
.placeholder { color:#aaa;}
/*css组件设置*/
.form-control, .input-group-addon, .btn{border-radius:2px; }
.form-control:focus { border-color:#66afe9; outline:0; box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px rgba(102, 175, 233, 0.6);}

.imgZoom img,.imgY180 img { -moz-transition:all .8s ease 0s; -ms-transition:all .8s ease 0s; -o-transition:all .8s ease 0s; -webkit-transition:all .8s ease 0s; transition:all .8s ease 0s;}

.imgZoom { overflow:hidden; }
.imgZoom:hover img{ -moz-transform:scale(1.1,1.1); -ms-transform:scale(1.1,1.1); -o-transform:scale(1.1,1.1); -webkit-transform:scale(1.1,1.1); transform:scale(1.1,1.1);}

.imgY180:hover img { cursor:pointer; -moz-transform:rotateY(180deg); -ms-transform:rotateY(180deg); -o-transform:rotateY(180deg); -webkit-transform:rotateY(180deg); transform:rotateY(180deg) }

/* 网站样式 */
/*header*/
.top01:before,.top01:after,.top01 .wrap:before,.top01 .wrap:after,
	.top02:before,.top02:after { content:''; display:table; clear:both; }
/*导航吸顶*/
/*.pageHeader { height:119px; }*/
.iMain_con { padding-top:119px; }
.tops { position:fixed; z-index:20; top:0; background-color:#ffffff; -webkit-transition:all 0.3s ease; transition:all 0.3s ease; width:100%; }
.nav_fixed { top:0; text-align:center; }
.nav_fixed.t01_hide { transform:translate(0,-34px); }
/*top01*/
.top01 { z-index:21; line-height:34px; background-color:#f6f6f6; }
.top01 .lan, .top01 .search { float:right; }
.top01 .lan { position:relative; z-index:21; padding-right:5px; color:#939393; cursor:pointer; }
.top01 .lan ._i { display:inline-block; *display:inline; *zoom:1; vertical-align:top; }
.top01 .lan > ._i { width:33px; height:25px; background:url("../img/index01.png"/*tpa=https://www.cttq.com/en/resources/web/img/index01.png*/) center 6px no-repeat; }
.top01 .lan ._choose ._s,.top01 .search input,.top01 .search ._btn_s ._i { display:inline-block; *display:inline; *zoom:1; height:34px; line-height:34px; }
.top01 .lan ._choose { display:inline-block; *display:inline; *zoom:1; padding-left:5px; text-transform:uppercase; }
.top01 .lan ._choose > ._i { padding-left:30px; padding-right:6px; color:#c4c4c4; opacity:.6; }
.top01 .lan ._sub_menu { display:none; position:absolute; left:0; top:100%; width:100%; background-color:#f6f6f6; }
._sub_menu a { display:block;padding-left:50px; }
._sub_menu img{vertical-align:middle;margin-right:8px;}
.glass { position:absolute; top:0; left:0; z-index:19; width:100%; height:100%; }
.top01 .search { position:relative; }
.top01 .search form { font-size:0; line-height:0; }
.top01 .search input { width:166px; height:34px; padding-top:0; padding-bottom:0; color:#c6c6c6; font-size:13px; line-height:34px; background-color:#939393; border:none; text-indent:14px; }
.top01 .search ._btn_s { position:absolute; top:0; right:5px; color:#a3aab9; background-color:transparent; border:none; outline:none; cursor:pointer; }
.top01 .search ._btn_s ._i { display:block; width:20px; height:32px; background:url("../img/index30.png"/*tpa=https://www.cttq.com/en/resources/web/img/index30.png*/) center center no-repeat; }
/*top02*/
.top02 .logo { float:left; padding:21px 0; width:18%; min-width:140px; line-height:1.4; }
.pageNav { float:right; width:840px; max-width:80%; text-transform:uppercase; }
.pageNav ul { text-align:right; }
.pageNav .nav_li:last-child,.pageNav .nav_li.last { padding-right:0; }
.pageNav .nav_li { position:relative; display:inline-block; *display:inline; *zoom:1; padding:0 2%; line-height:84px;}
.pageNav .nav_a { display:inline-block; *display:inline; *zoom:1; font-size:16px; color:#323232; }
.nav_li > ul { 
	position:absolute; top:85px; left:50%; z-index:20; margin-left:-100px; padding-top:12px; *padding-top:0; width:200px; text-align:center; 
	-webkit-transition:all 0.5s ease; 
	transition:all 0.5s ease; 
	-webkit-transform:rotateY(90deg); 
	transform:rotateY(90deg); 
	opacity:0; 
	display:none\9;
}
.iMain.ie8- .nav_li > ul { padding-top:0\9; }
.nav_li > ul.show { 
	opacity:1; 	
	-webkit-transform:rotateY(0deg); 
	transform:rotateY(0deg); 
	display:block\9; 
}
.nav_li > ul:after { content:''; display:block; position:absolute; top:0; left:50%; margin-top:5px; margin-left:-10px; border-color:transparent transparent #f6f6f6 transparent; border-width:0 10px 7px 10px; border-style:dashed dashed solid dashed; }
.nav_li > ul > li { background-color:#f6f6f6; border-bottom:#e4e4e4 1px solid; }
.nav_li > ul > li:last-child { padding-bottom:12px; border-bottom:none; }
.nav_li > ul a { display:block; padding-top:4px; font-size:14px; color:#383838; line-height:2.5; text-transform:none; }
.nav_li > ul a:hover { color:#e9564d; }

body { position:relative; }
.light_mask { 
	position:absolute; top:0; left:0; bottom:0; width:100%; z-index:-1; background-color:transparent; 
	-webkit-transition:all 0.3s ease; 
	transition:all 0.3s ease; 
	-webkit-transition-delay:0.2s; 
	transition-delay:0.2s; 
}
.light_mask.light_off.high { z-index:99; }
.light_mask.light_off { z-index:19; background:rgba(0,0,0,.60); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99000000,endcolorstr=#99000000); }
.mobile_key:hover { color:#e9564d; }
.mobile_key{display:none; font-size:30px; color:#e9564d; top:50px; right:30px; position:absolute;}

/*footer*/
/*底部隐藏*/
.iMain { position:relative; z-index:5; margin-bottom:340px; background-color:#ffffff; }
.pageFooter { position:fixed; width:100%; left:0; bottom:0; background-color:#f8f8f8; text-transform:uppercase; }
.full_body .pageFooter,.iMain.fp_main { position:static; }
.full_body .pageFooter { display:none; }
/*foot01*/
.foot01 { padding-top:75px; padding-bottom:30px; }
/*foot01-top*/
.foot01 .ftop { padding-bottom:22px; }
.foot01 .left { float:left; width:60%; color:#313131; }
.foot01 .tel_num { padding-bottom:5px; font-size:60px; font-family:"Agency FB"; line-height:1; }
.foot01 .add_tt,.foot01 .add_wd { display:block; }
.foot01 .add_tt { padding-bottom:6px; font-size:15px; }
.foot01 .add_wd { color:#9c9c9c; font-size:10px; }
.foot01 .right { float:right; width:300px; text-align:right; }
/*foot01-down*/
.foot01 .fdown { position:relative; line-height:50px; border-top:#dedede 1px dashed; border-bottom:#dedede 1px dashed; }
.foot01 .fdown .key_pro_tt,
	.foot01 .fdown .kp_li { display:inline-block; *display:inline; *zoom:1; }
.foot01 .fdown .key_pro_tt { position:absolute; top:0; left:0; padding-right:5px; font-size:15px; color:#989898; }
.foot01 .fdown .key_pros { padding-left:140px; width:87.5%; color:#b5b5b5; }
.foot01 .fdown .kp_li { margin-right:3%; }
.foot01 .fdown .kp_a { display:block; *color:#b5b5b5; }
/*foot02*/
.foot02 { color:#bbb6ad; line-height:56px; background-color:#313131; }
.foot02 .copyright a,.foot02 .sign a { color:#bbb6ad; }
.foot02 .copyright { float:left; }
.foot02 .sign { float:right; }



/*通用样式*/
/*动效*/
th,td { -webkit-transition:all 0.1s ease;	transition:all 0.1s ease; }
.pro_contact .ct_box_down ._cbd ._ico,.pro_contact .ct_box_down ._cbd ._mrk,
	.pro_contact .contact_box .ct_box_title,
	.transition { 
	-webkit-transition:all 0.3s ease; 
	transition:all 0.3s ease; 
}
.anis1 { -webkit-animation-delay:0.15s; animation-delay:0.15s; }
.anis2 { -webkit-animation-delay:0.3s; animation-delay:0.3s; }
.anis3 { -webkit-animation-delay:0.45s; animation-delay:0.45s; }
.anis4 { -webkit-animation-delay:0.6s; animation-delay:0.6s; }
/*翻入式动画*/
.rolling > .rolling_box {
	-webkit-perspective:1300px;
	-o-perspective:1300px;
	-ms-perspective:1300px;
	perspective:1300px;
	-webkit-transform-style:preserve-3d;
	-o-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
}
.rolling .rolling_box .is_animated {
	-webkit-transition-duration:1.2s;
	-webkit-transition-property:-webkit-transform,opacity;
	-webkit-transition-delay:.15s;
	-webkit-transition-timing-function:'ease-in-out';
	-moz-transition-duration:1.2s;
	-moz-transition-property:all;
	-moz-transition-delay:.15s;
	-moz-transition-timing-function:'ease-in-out';
	-o-transition-duration:1.2s;
	-o-transition-property:transform,opacity;
	-o-transition-delay:.15s;
	-o-transition-timing-function:'ease-in-out';
	-ms-transition-duration:1.2s;
	-ms-transition-property:transform,opacity;
	-ms-transition-delay:.15s;
	-ms-transition-timing-function:'ease-in-out';
	transition-duration:1.2s;
	transition-property:transform,opacity;
	transition-delay:.15s;
	transition-timing-function:'ease-in-out';
	-webkit-transform:rotatex(-80deg) translateZ(0);
	-ms-transform:rotatex(-80deg) translateZ(0);
	transform:rotatex(-80deg) translateZ(0);
	-webkit-transform-origin:0 0 0;
	-ms-transform-origin:0 0 0;
	transform-origin:0 0 0;
	opacity:0;
	opacity:1\9\0;
}
.rolling .rolling_box .is_animated.revealed {
	-webkit-transform:rotatex(0) translateZ(0);
	-ms-transform:rotatex(0) translateZ(0);
	transform:rotatex(0) translateZ(0);
	opacity:1
}

/*图片*/
.pic_box { position:relative; }
.rect-2750 { padding-bottom:27.5%; }
.rect-3750 { padding-bottom:37.5%; }
.rect-47 { padding-bottom:47%; }
.rect-4750 { padding-bottom:47.5%; }
.rect-61 { padding-bottom:61%; }
.rect-7340 { padding-bottom:73.4%; }
.rect-84 { padding-bottom:84%; }
.rect-95 { padding-bottom:95%; }
.rect-10800 { padding-bottom:108%; }
/*share*/
.share_list { padding-top:50px; font-size:0; }
.share_list .stButton,.share_list .stYoutube { margin:0 0 0 -1px; padding:8px 33px; line-height:0; border-left:#eaeaea 1px solid; border-right:#eaeaea 1px solid; cursor:default; }
.st_twitter_large .stLarge,.st_facebook_large .stLarge,.stYoutube a { background-image:url("../img/share32.png"/*tpa=https://www.cttq.com/en/resources/web/img/share32.png*/)!important; background-repeat:no-repeat; cursor:pointer; -webkit-transition:all 0.3s ease; transition:all 0.3s ease; }
.st_twitter_large .stLarge { background-position:0 0; }
.st_facebook_large .stLarge { background-position:-32px 0; }
.st_youtube_large .stYoutube a { background-position:-64px 0; }
.st_twitter_large .stButton .stLarge:hover { background-position:0 -32px; }
.st_facebook_large .stButton .stLarge:hover { background-position:-32px -32px; }
.st_youtube_large .stYoutube a:hover { background-position:-64px -32px; }
.st_youtube_large .stYoutube { display:inline-block; position:relative; top:0; }
.st_youtube_large .stYoutube a { display:inline-block; width:32px; height:32px; }
.stYoutube img { display:none;}
/*统一触控*/
.bg_wrap { position:relative; overflow:hidden; }
.bg_wrap .bg,.bg_wrap .bg_d { display:block; display:block\9; position:absolute; top:100%; left:0; width:100%; height:100%; -webkit-transition:all 0.3s ease; transition:all 0.3s ease; }
.bg_wrap .bg_d { top:0; z-index:-2; background-color:transparent; }
.bg_wrap .bg { z-index:-1; background-color:#e9564d; }
.bg_wrap:hover .bg { top:0; }
/*统一触控-有背景色*/
.bg_wraph { position:relative; z-index:4; overflow:hidden; }
.bg_wraph .bgh,.bg_wraph .bgh_d { display:block; display:block\9; position:absolute; top:100%; left:0; width:100%; height:100%; -webkit-transition:all 0.3s ease; transition:all 0.3s ease; }
.bg_wraph .wraph_main { position:relative; left:0; top:0; z-index:3; }
.bg_wraph .bgh_d { top:0; z-index:1; background-color:transparent; }
.bg_wraph .bgh { z-index:2; background-color:#e9564d; }
.bg_wraph:hover .bgh { top:0; }
/*查看更多按钮*/
/*查看更多按钮-1*/
.more_btn { display:block; padding:0 21px 0 14px; width:78px; color:#5d5d5d; line-height:34px; border:#cccccc 1px solid; cursor:pointer; }
.more_btn:hover { color:#ffffff; }
.more_btn ._t { font-size:14px; }
.more_btn ._plus_i { float:right; float:none\9; font-size:14px; }
/*查看更多按钮-2*/
._lmore { font-size:14px; color:#e9564d; }
/*按钮-t1*/
.btn_t1_wrap { display:inline-block; *display:inline; *zoom:1; margin-right:20px; }
.btn_t1_wrap .btn_t1 { padding-left:40px; padding-right:10px; background-image:url("../img/btn_t1.png"/*tpa=https://www.cttq.com/en/resources/web/img/btn_t1.png*/); background-position:10px center; background-repeat:no-repeat; border-style:solid; border-width:1px; border-color:rgba(255,255,255,0.3); }
.btn_t1_wrap ._mrk { font-size:14px; color:#ffffff; line-height:32px; text-transform:uppercase; }
/*新闻-工具条样式*/
._tools{ font-size:12px; color:#c9cac9; margin-bottom:24px; }
.news_list_ico{ display:inline-block; width:20px; height:20px; background:url("../img/news_ico.png"/*tpa=https://www.cttq.com/en/resources/web/img/news_ico.png*/) no-repeat;vertical-align:middle;margin-right:4px;}
._tools ._number .news_list_ico{background-position:-20px -2px;}
._tools ._number{margin-left:10px;}
/*通用-层叠显示标题*/
.ptitle_fix:before,.ptitle_fix:after { content:''; display:table; clear:both; }
.ptitle_fix { padding-bottom:30px; }
.ptitle_wrap { float:left; position:relative; font-size:0; line-height:1; text-transform:uppercase; }
.ptitle_wrap .ptitle,.ptitle_wrap .ptitle_small { font-size:29px; font-weight:bold; color:#565656; }
.ptitle_wrap .ptitle { line-height:110px; visibility:hidden; }
.ptitle_wrap .ptitle_big { display:block; padding-bottom:15px; font-size:70px; font-weight:bold; color:#f0f0f0; }
.ptitle_wrap .ptitle_small { display:block; position:absolute; top:50%; right:-1em; margin-top:-24px;  }
.ptitle_wrap ._pline { display:block; width:60px; height:3px; background-color:#e7463c; }
/*通用-数字标题*/
.num_list li:first-child .num_wrap,.num_list li:first-child .num_wrap.first { border-left:none; }
.num_list li:last-child .num_wrap,.num_list li:last-child .num_wrap.last { border-right:none; }
.num_list li .num_wrap { margin-left:-1px; padding:0 13% 10px 13%; border-left:#eaeaea 1px solid; border-right:#eaeaea 1px solid; }
.num_wrap .num_t { display:block; padding-bottom:17px; font-family:Impact; font-size:48px; color:#000000; line-height:1; }
.num_wrap .num_t ._wd { color:#878787; }

/*首页*/
.pageMain ._tools { margin-bottom:8px; }
/*ibanner*/
.ibanner_wrap { position:relative; }
.ibanner,.ibanner img { height:500px; }
.ibanner { position:relative; overflow:hidden; }
.ibanner img { position:absolute; left:50%; top:0; margin-left:-960px; width:1920px; max-width:none; }
.ibanner .slide_nav { display:block; position:absolute; bottom:48px; left:0; z-index:3; width:100%; height:auto; font-size:0; text-align:center; }
.ibanner .slide_nav a { display:inline-block; *display:inline; *zoom:1; margin:6px 5px; width:8px; height:8px; border-radius:50%; background-color:#ffffff; border:transparent 2px solid; cursor:pointer; }
.ibanner .slide_nav a:hover,.ibanner .slide_nav a.on { background-color:transparent; border:#ffffff 2px solid; }
.ibanner .arr_prev,.ibanner .arr_next,.ibanner_wrap .slide_content { left:50%; margin-left:-600px; }
.ibanner .arr_prev,.ibanner .arr_next,.ibanner_wrap .slide_content { top:30%; }
.ibanner .arr_prev,.ibanner .arr_next { display:block; position:absolute; z-index:4; width:40px; height:106px; background-color:#ffffff; background-repeat:no-repeat; background-position:center center; }
.ibanner .arr_prev:hover,.ibanner .arr_next:hover { opacity:0.8; filter:alpha(0.8); }
.ibanner .arr_prev { background-image:url("../img/indexleft.png"/*tpa=https://www.cttq.com/en/resources/web/img/indexleft.png*/); }
.ibanner .arr_next { margin-top:107px; background-image:url("../img/indexright.png"/*tpa=https://www.cttq.com/en/resources/web/img/indexright.png*/); }
.ibanner_wrap .slide_content.show { z-index:5; opacity:1; }
.ibanner_wrap .slide_content { 
	position:absolute; 
	z-index:-1; 
	padding:50px 60px 42px 65px; 
	padding-bottom:41px\9; 
	width:415px; 
	color:#ffffff; 
	opacity:0; 
	background:rgba(0,0,0,.30); 
	filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4d000000,endcolorstr=#4d000000); 
	/*transition:all 0.2s ease; */
}
.ibanner_wrap .slide_content ._tt { font-size:26px; text-transform:uppercase; }
.ibanner_wrap .slide_content ._wd { overflow:hidden; height:5em; font-size:16px; line-height:1.7; }
/*.ibanner_wrap .s_con01 { background:rgba(0,0,0,.60); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99000000,endcolorstr=#99000000); }
.ibanner_wrap .s_con02 { background:rgba(250,194,0,.60); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99fac200,endcolorstr=#99fac200); }
.ibanner_wrap .s_con03 { background:rgba(255,170,204,.60); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99ffaacc,endcolorstr=#99ffaacc); }*/
/*ipart01*/
.ipart01 { padding-bottom:65px; background-color:#f6f6f6; }
.ipart01 .p_tt { padding:50px 0 35px; text-align:center; font-size:30px; }
.ip01_list .pic_box { left:0; top:0; z-index:3; }
.ip01_list .item .down { padding:33px 33px 33px 24px; }
.ip01_list .bg_wraph .bgh_d { background-color:#ffffff; }
.ip01_list .item .down:hover ._tt { color:#ffffff; }
.ip01_list .item .down:hover ._wd { color:#fbe4e3; }
.ip01_list .item .down:hover ._t,.ip01_list .item .down:hover ._plus_i,.ip01_list .item .down:hover .button_wrap ._share_i { color:#f4aba6; }
.ip01_list ._tt { padding-bottom:5px; font-size:22px; color:#010101; }
.ip01_list ._wd { padding-bottom:35px; height:8em; overflow:hidden; font-size:14px; line-height:1.6; color:#878787; }
.ip01_list .more_btn { display:inline-block; *display:inline; *zoom:1; }
.item .down:hover .more_btn { border-color:#f4aba6; }
.ip01_list .button_wrap ._share_i { float:right; color:#adadad; }
/*ipart02*/
.ipart02 { padding-bottom:85px; overflow:hidden; }
.ipart02 .p_tt { padding:55px 0 30px; font-size:30px; color:#000000; }
.ip02_top { height:280px; overflow:hidden; margin-bottom:50px; }
.ip02_top ._detail { padding-left:20px; padding-right:55px; }
.ip02_top ._detail ._tt { text-transform:uppercase; padding:10px 0 20px; font-size:24px; line-height:1.3; }
.ip02_top ._detail ._wd { overflow:hidden; margin-bottom:34px; height:3.4em; font-size:14px; color:#5a5a5a; line-height:1.7; transition:all 0.3s ease; }
.ip02_list .span-3 ._detail { margin-left:-1px; padding:22px 10% 10px; border-left:#f1f1f1 1px solid; border-right:#f1f1f1 1px solid; }
.ip02_list .span-3:first-child ._detail { padding-left:3%; border-left:none; }
.ip02_list .span-3:last-child ._detail { padding-right:3%; border-right:none; }
.ip02_list ._tools { margin-bottom:13px; }
.ip02_list ._tt { margin-bottom:15px; font-size:15px; color:#000000; }
.ip02_list ._wd { overflow:hidden; margin-bottom:30px; height:4.8em; color:#616161; }
.ip02_list ._detail:hover ._wd { color:#e9564d; }
/*ipart03*/
.ipart03 { height:330px; color:#ffffff; text-align:center; background:url("../img/index02.jpg"/*tpa=https://www.cttq.com/en/resources/web/img/index02.jpg*/) center center no-repeat; }
.ipart03 ._tt { padding:90px 0 20px; font-size:30px; }
.ipart03 ._wd { font-size:17px; line-height:1.9; }

/*下层-通用*/
/*下层-banner*/
.cbanner .ban_pic,.cmain .cbanner img { height:400px; }
.cbanner { position:relative; }
.cbanner .ban_pic { position:relative; overflow:hidden; }
.cbanner img { position:absolute; top:0; left:50%; margin-left:-960px; width:1920px; max-width:none; }
.cbanner .wrap,.cban_t_wrap { position:absolute; top:0; left:50%; margin-left:-600px; z-index:1; }
.cban_t_wrap { padding-top:125px; }
.cban_t_wrap .cban_tt { display:block; padding-bottom:5px; font-size:42px; font-weight:bold; color:#a50000; }
.cban_t_wrap ._sl { display:block; margin-bottom:13px; width:50px; height:2px; background-color:#afb7c6; }
.cban_t_wrap .cban_wd { display:block; max-width:600px; font-size:19px; color:#08131a; }
/*下层-二级导航*/
/*二级导航层级要低于开关灯层级 19*/
/*.xc_nav_wrap,.xc_list.on { z-index:18; }*/
/*119px是tops的高度*/
.xc_nav_wrap.nav_fixed { position:fixed; top:119px; }
.xc_nav_wrap{width: 100%;position:absolute;bottom: 0;left: 0; 
	/*background-color: rgba(0,0,0,0.5); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#88000000,endcolorstr=#88000000); */
	height: 51px;line-height: 51px; -webkit-transition:all .3s ease 0s; transition:all .3s ease 0s;}
.xc_nav{width: 73%;float: left; font-size: 16px;/* color:#ffffff;*/ }
.xc_nav>ul>li{float: left;position: relative; border-right:1px solid #f2f2f2; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
.xc_nav>ul>li>a{display: block;height: 51px;padding:0 15px; color:#ffffff; text-align: center; position: relative;}
.xc_nav>ul>li>a .ion{font-size: 12px;margin-left:0.7em;}
.xc_nav li.cur{background-color: #e9564d;}
.xc_nav li.cur a:after{content:'';height: 3px;display: block;position: absolute;bottom: 0;left: 10%;right: 10%;background-color: #ffffff;}
.xc_nav li a:hover{background-color: #e9564d;}
.xc_nav>ul>li>a:hover { color:#ffffff; }
.xc_nav>ul>li>a:after{content:'';height: 3px;display: block;position: absolute;bottom: 0;left: 50%;right: 50%;background-color: #ffffff;-webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
/*二级导航-下拉菜单*/
.xc_nav>ul>li>a.hover:after{left: 10%;right: 10%;}
.xc_list{ display:none; position: absolute; left: 0; right:0; top:100%; background-color: #e9564d;text-align: center; }
.xc_list li a{display: block;color: #ffffff;margin:5px;}
.xc_list li a:hover{background-color: #e9564d; color:#ffffff;}
/*二级导航-面包屑*/
.breadcrumbs {width: 27%;float: right;font-size: 14px; color: #fff;height: 51px;line-height: 51px;text-align: right;}
.breadcrumbs a { color: #fff;}
.breadcrumbs a:hover{color:#e9564d;}
.breadcrumbs .lt { margin:0 5px; }
/*下层-频道容器*/
.channel { padding-top:48px; padding-bottom:70px; min-height:400px; }
/*下层-录入框*/
.typeIn { font-size:15px; color:#878787; }

/*新闻列表*/
.news_list ul {width:105%; position:relative; overflow:hidden; opacity:0;}
.news_list .item{width:30%;margin-right:2.5%;margin-bottom:34px;}
.news_list .item ._list_box{ display:block; border:1px solid #ebeaea;}
.news_list .item:hover ._list_box{border-color:#e9564d;}
.news_list .item ._list_box ._list_main{padding:20px 24px;}
.news_list .item ._list_box ._list_main ._title{font-size:20px;font-weight:bold;color:#000000;margin-bottom:10px;}
.news_list .item ._list_box ._list_main ._news_pic{ overflow:hidden; margin-bottom:18px;}
.news_list .item ._list_box ._list_main ._news_pic img{width:100%;}
.news_list .item ._list_box ._list_main ._text{font-size:14px;color:#6a6a6a;line-height:24px;height:auto;margin-bottom:33px;}

/*新闻-详情*/
.widget-newsdetail-8 .news_ico02 .news_list_ico{background-position:-20px -2px;}
.widget-newsdetail-8 .n_left { float:left; width:62%; background:#fcfcfc;padding:40px 36px 70px;box-sizing:border-box;}
.widget-newsdetail-8 ._head ._title { font-size:25px; font-weight:bold; color:#000000; margin-bottom:10px;}

.widget-newsdetail-8 ._tools { font-size:0; color:#5a5a5a; margin-bottom:40px;}
.widget-newsdetail-8 ._tools ._tool{ font-size:12px; margin-right:10px; display:inline-block; height:30px; line-height:30px; overflow:hidden;}
.widget-newsdetail-8 ._tools .ion { font-size:18px; display:inline-block; *display:inline; *zoom:1; *margin:0 5px; height:30px; line-height:30px; *color:#555555; *cursor:hand; vertical-align:-2px;}
.widget-newsdetail-8 ._tools b { font-weight:normal; }
.widget-newsdetail-8 ._tools #switcher { margin-left:10px; }
.widget-newsdetail-8 ._tools #switcher ._title{margin-right:5px;font-size:12px;color:#5a5a5a;}
.widget-newsdetail-8 ._tools #switcher .ion { font-size:15px; }

.widget-newsdetail-8 .myart { line-height:2; min-height:200px; font-size:14px; color:#5a5a5a; }
.widget-newsdetail-8 .n_right { width:31%; float:right;overflow:hidden;}
.widget-newsdetail-8 ._tools .more_btn .ion,
	.widget-newsdetail-8 ._tools .more_btn { height:50px; line-height:50px; }
.widget-newsdetail-8 ._tools .more_btn { width:220px; }
.widget-newsdetail-8 ._detailPage_bottom li strong,.widget-newsdetail-8 ._detailPage_bottom li span,.widget-newsdetail-8 ._detailPage_bottom li a{ display:block;}
.widget-newsdetail-8 ._detailPage_bottom{margin-top:45px;}
.widget-newsdetail-8 ._detailPage_bottom li ._mark{ padding-bottom:8px; font-size:20px; font-weight:bold; color:#212121;position:relative;display:block;float:left;}
.widget-newsdetail-8 ._detailPage_bottom li ._mark:after{content:"";width:310px;height:1px;background:#e2e2e2;display:block;position:absolute;top:50%;left:100%;margin-top:-4px;margin-left:1em;}
.widget-newsdetail-8 ._detailPage_bottom ._date{ display:block; height:30px; line-height:30px; margin-bottom:7px; font-family:Arial; font-size:12px; color:#676767; }
.widget-newsdetail-8 ._detailPage_bottom ._date .ion { font-size:20px; height:30px; vertical-align:-2px; margin-left:0;}
.widget-newsdetail-8 ._detailPage_bottom li ._title:hover { color:#e9564d; }
.widget-newsdetail-8 ._detailPage_bottom li ._title,
 .widget-newsdetail-8 ._detailPage_bottom li ._title._null { font-size:18px; color:#5a5a5a; text-transform:uppercase; }
.widget-newsdetail-8 ._detailPage_bottom li { padding: 27px 0; }

/*关于我们*/
.channel.about { padding-top:0; padding-bottom:0; }
/*关于我们-part01*/
.about .part01 { position:relative; overflow:hidden; margin-bottom:55px; height:620px; background-color:#fcfcfc; }
.about .part01 .left { padding-top:45px; width:55%; }
.about .p01_pic { position:absolute; top:0; left:50%; margin-left:115px; width:845px; }
.about .part01 .num_list { padding-top:70px; }
/*关于我们-part02*/
.about .part02 { padding-bottom:55px; }
.about .part02 .p02_con{ padding-top:95px; height:225px; background:url("../img/about02.jpg"/*tpa=https://www.cttq.com/en/resources/web/img/about02.jpg*/) 0 0  no-repeat; color:#ffffff; text-align:center; }
.about .p02_con ._tt { margin-bottom:15px; font-size:30px; font-weight:bold; }
.about .p02_con ._line { display:block; margin:0 auto 20px; width:60px; height:3px; background-color:#ffffff; }
.about .p02_con ._wd { display:block; overflow:hidden; margin:0 auto; width:75%; height:4.8em; font-size:16px; }
/*关于我们-part03*/
.about .part03 { background-color:#fcfcfc; }
.about .part03 .abt_list { padding:60px 0; border-bottom:#e3e3e3 1px solid; }
.about .part03 .abt_list:last-child,.about .part03 .abt_list.last { border-bottom:none; }
.about .part03 ._img,.about .part03 ._con { float:left; }
.about .part03 .abt_list:nth-child(2n) ._img { float:right; }
.about .part03 .abt_list.eve ._img { float:right; }
.about .part03 ._img { width:41%; }
.about .part03 ._con { padding-left:4%; width:55%; }
.about .part03 .abt_list:nth-child(2n) ._con { padding-left:0; padding-right:4%; }
.about .part03 .abt_list.eve ._con { padding-left:0; padding-right:4%; }
.about .part03 ._wd { /*overflow:hidden;*/ max-height:11.2em; font-size:15px; }
/*关于我们-part04*/
.about .part04 { padding-top:60px; padding-bottom:70px; background-color:#f2f2f2; }
/*.about .part04 .abt04_item { cursor:pointer; }*/
.about .part04 .abt04_item ._item_top { position:relative; overflow:hidden; }
.about .part04 .abt04_item ._pic { height:0; overflow:hidden; padding-bottom:85%; }
.about .part04 .abt04_item ._pic img { width:100%; }
.about .part04 .abt04_item ._mask { position:absolute; top:100%; left:0; width:100%; height:100%; opacity:0; background-color:rgba(231,70,60,0.3); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4fe7463c,endcolorstr=#4fe7463c); -webkit-transition:all 0.3s ease; transition:all 0.3s ease; }
.about .part04 .abt04_item:hover ._mask { top:0; opacity:1; -webkit-transition-delay:0.1s; transition-delay:0.1s; }
.about .part04 .abt04_item ._num { position:absolute; top:115px; left:10px; z-index:2; font-size:105px; font-family:'Century Gothic'; line-height:1; color:#ffffff; }
.about .part04 .abt04_item ._item_down { padding:20px 6% 30px 6%; background-color:#ffffff; -webkit-transition:all 0.3s ease; transition:all 0.3s ease; }
.about .part04 .abt04_item:hover ._item_down { background-color:#e7463c; }
.about .part04 .abt04_item ._name { height:4.8em; overflow:hidden; margin-bottom:13px; font-size:16px; line-height:1.6; color:#878787; }
.about .part04 .abt04_item:hover ._name { color:#ffffff; }

/*联系我们*/
.map_wrap { margin-bottom:45px; height: 520px}
.contact_list { padding-bottom:68px; }
.red { font-weight:normal; color:#e9564d; }
/* job-2 start*/
.widget-job-2 ._jt { overflow: hidden; margin-top: 10px; padding-right:20px; height:66px; line-height:66px; *zoom: 1; font-size:18px; background-color: #ffffff; border:#cecece 1px solid; cursor: pointer; }
.widget-job-2 ._jt._jt_act { background-color:#e9564d; border:none; }
.widget-job-2 ._jt strong { float: left; padding-left:2.5%; width:50%; text-align: left; color: #3a3a3a; }
.widget-job-2 ._jt._jt_act strong { color:#ffffff; }
.widget-job-2 ._jt span { float: right; }
.widget-job-2 ._jt .ion { font-size: 12px; color: #999999; }
.widget-job-2 ._jc { display: none; }
.widget-job-2 ._jcon { padding:40px 30px; background-color:#f4f4f4; }
.widget-job-2 ._jt_act .ion { color: #ffffff; }
@media only screen and (max-width: 40rem) {
	.widget-job-2 ._jt span {
		display: none;
	}
}

/*产品-列表*/
.drug_list{ padding-top: 48px;}
.drug_list .item_list{ position:relative; margin-bottom: 60px;}
.drug_list .item_list .list_tit { background: #e9564d;}
.drug_list .item_list.bg_1 .list_tit { background: #e9564d;}
.drug_list .item_list:nth-child(1) .list_tit { background: #e9564d;}
.drug_list .item_list.bg_2 .list_tit { background: #f58221;}
.drug_list .item_list:nth-child(2) .list_tit { background: #f58221;}
.drug_list .item_list.bg_3 .list_tit { background: #662d91;}
.drug_list .item_list:nth-child(3) .list_tit { background: #662d91;}
.drug_list .item_list.bg_4 .list_tit { background: #8cc63f;}
.drug_list .item_list:nth-child(4) .list_tit { background: #8cc63f;}
.drug_list .item_list.bg_5 .list_tit { background: #41c8f4;}
.drug_list .item_list:nth-child(5) .list_tit { background: #41c8f4;}
.drug_list .list_tit ._tit_con { height:327px; padding:52px 10% 0; color: #ffffff;}
.drug_list .list_tit h3{ font-size: 30px; line-height: 53px;}
.drug_list .list_tit p{ max-height:17em; font-size: 14px; line-height:1.7em;}
.drug_list .list_tit .more_btn{ margin-top: 20px; color: #ffffff; border-color: #ffffff;}
.drug_list .scroll_layout,.drug_list .scroll_con { height:339px; }
.drug_list .scroll_layout { padding:15px 5% 25px 3%; background: #f8f8f9; }
.drug_list .scroll_item { display:inline-block; *display:inline; *zoom:1; width:30%; }
.drug_list .scroll_item .img_box { overflow:hidden; }
.drug_list .scroll_item img { position:absolute; left:5%; bottom:5%; width:90%; height:auto; }
.drug_list .scroll_item h3,
	.drug_list .scroll_item p{ width: 234px; margin: 0 auto; line-height: 26px; font-size: 14px; color: #868686; }
.drug_list .scroll_item h3{ margin-top: 8px; font-size: 16px; color: #333333;}
.drug_list .btn_box { top: 44px; right: 0; z-index: 1; width: 38px;}
.drug_list .btn_box .scroll_btn{ display: block; width: 38px; height: 38px; margin-bottom: 3px; text-align: center; line-height: 40px; color: #fff; background: #d5d5d5;}
.drug_list .list_con { position:relative; }
.drug_list .item_list:nth-child(2n) .list_tit { float:right; }
.drug_list .item_list.eve .list_tit { float:right; }
.drug_list .item_list:nth-child(2n) .btn_box { right:auto; left:0; }
.drug_list .item_list.eve .btn_box { right:auto; left:0; }
.drug_list .item_list:nth-child(2n) .scroll_layout { padding-right:3%; padding-left:5%; }
.drug_list .item_list.eve .scroll_layout { padding-right:3%; padding-left:5%; }

/*相册页（fullpage）*/
.full_box, .full_wrap, .full_section{position: relative;width: 100%;height: 100%;}
.full_body, .full_section{overflow: hidden;}
.full_body{padding-top:119px;position:relative;}
.full_body .footer{position: absolute;left: 0;width: 100%; bottom: -424px;}
.full_section{display: none; min-width: initial;}
.full_section .pageBox{width: 100%; height: 100%;position:relative;left: 0;top:0;overflow: hidden;}
.full_section .pageBox .wrap{top:0;height:100%;}
.full_body .footer{ height:349px; }
.full_section .fp_slide,.fp_bg { display:block; position:absolute; top:0; }
.full_section .fp_slide { left:50%; }
.full_section .fp_bg,.full_section .fp_bg ._con { right:50%; }
.full_section .fp_bg ._con { float:right; padding-top:15%; width:600px; }
.full_section ._con ._wd { padding-right:60px; padding-bottom:35px; font-size:16px; color:#ffffff; }
.full_section .album_link { display:block; height:0; padding-bottom:525px; }
.full_section .album_link img { width:100%; max-width:none; }
/*相册页（fullpage）-层叠式标题*/
.full_section .ptitle_big { color:#ffffff; opacity:0.1; filter:alpha(0.1); }
.full_section .ptitle_wrap .ptitle_small { color:#ffffff; font-size:34px; font-weight:bold; }
.full_section .ptitle_wrap ._pline { background-color:#ffffff; }
/*相册页（fullpage）-背景图*/
.full_section .fp_bg { background-position:center right; background-repeat:no-repeat; background-size:cover; }
.full_section.index_sec1 .fp_bg { background-image:url("../img/fp_bg1.jpg"/*tpa=https://www.cttq.com/en/resources/web/img/fp_bg1.jpg*/); }
.full_section.index_sec2 .fp_bg { background-image:url("../img/fp_bg2.jpg"/*tpa=https://www.cttq.com/en/resources/web/img/fp_bg2.jpg*/); }
.full_section.index_sec3 .fp_bg { background-image:url("../img/fp_bg3.jpg"/*tpa=https://www.cttq.com/en/resources/web/img/fp_bg3.jpg*/); }
/*相册页（fullpage）-背景色*/
/*.full_section.index_sec1 { background-color:#08d8c0; }
.full_section.index_sec2 { background-color:#e6891e; }
.full_section.index_sec3 { background-color:#5c2983; }*/
/*相册*/
.fp_album .album_ordinary .slide_c img { max-height:70%; }
.fp_album .album_ordinary .album_close { background-color:#e9564d; }

/*产品列表页2*/
.pro_list2 { padding-bottom:80px; }
/*产品表格*/
.table_pt { margin-bottom:34px; width:100%; color:#5a5a5a; text-transform:uppercase; cursor:default; }
.table_pt th,.table_pt td { padding-left:5%; }
.table_pt th { font-size:16px; font-weight:normal; color:#ffffff; line-height:65px; text-align:left; background-color:#ef7e77; }
.table_pt th.act { background-color:#c8100c; }
.table_pt tr:hover td { background-color:#f6f6f6; }
.table_pt td { line-height:71px; font-size:14px; border:#efefef 1px solid; }
/*产品表格_pt443*/
.table_pt443 .th01 { width:37.5%; background-color:#ef7e77; border-color:#ef7e77; border-style:solid; border-width:0 1px 1px 0; }
.table_pt443 .th02 { width:37.5%; background-color:#e44b45; border-color:#e44b45; border-style:solid; border-width:0 1px 1px 0; }
.table_pt443 .th03 { width:25%; background-color:#cc221e; border-color:#cc221e; border-style:solid; border-width:0 1px 1px 0; }
/*产品表格_row*/
.table_row,.table_row th { text-align:center; }

/*产品：联系我们*/
.pro_contact { padding-bottom:60px; }
.pro_contact .smidd-12 { margin-bottom:40px; }
.pro_contact .contact_box.act .ct_box_title { background-color:#e9564d; }
.pro_contact .ct_box_title { padding:32px 20px 13px 50px; text-transform:uppercase; color:#ffffff; background-color:#c9c9c9; }
.pro_contact .ct_box_title ._tt { font-size:30px; font-weight:normal; line-height:1; }
.pro_contact .ct_box_title ._tt_p { display:block; font-size:16px; }
.pro_contact .ct_box_head .ct_box_img { overflow:hidden; }
.pro_contact .ct_box_down { padding:0 34px 30px; color:#5a5a5a; background-color:#fbfbfb; }
.pro_contact .ct_box_down ._cbd:before,.pro_contact .ct_box_down ._cbd:after { content:''; display:table; clear:both; }
.pro_contact .ct_box_down ._cbd { border-bottom:#dfdfdf 1px solid; }
.pro_contact .ct_box_down ._cbd:last-child { border-bottom:none; }
.pro_contact .ct_box_down ._cbd_inn { padding:24px 0; }
.pro_contact .ct_box_down ._cbd_inn._half { float:left; width:50%; }
.pro_contact .ct_box_down ._cbd_inn ._tt { margin-bottom:13px; }
.pro_contact .ct_box_down ._cbd_inn ._ico,.pro_contact .ct_box_down ._cbd_inn ._mrk { display:inline-block; *display:inline; *zoom:1; float:left; height:32px; line-height:32px; }
.pro_contact .ct_box_down ._cbd_inn ._ico { margin-right:12px; width:32px; background-color:#c5c5c5; background-image:url("../img/pro_con_ico.png"/*tpa=https://www.cttq.com/en/resources/web/img/pro_con_ico.png*/); background-repeat:no-repeat; }
.pro_contact .ct_box_down ._cbd_inn.act ._ico { background-color:#e9564d; }
.pro_contact .ct_box_down ._cbd_inn ._ico01 { background-position:0 0; }
.pro_contact .ct_box_down ._cbd_inn ._ico02 { background-position:-32px 0; }
.pro_contact .ct_box_down ._cbd_inn ._ico03 { background-position:-64px 0; }
.pro_contact .ct_box_down ._cbd_inn ._mrk { font-size:16px; color:#525252; text-transform:uppercase; }
.pro_contact .ct_box_down ._cbd_inn.act ._mrk { color:#e9564d; }
/*产品-联系我们-录入消息*/
.pro_contact .contact_box .rec { position:relative; }
.pro_contact .contact_box ._hd { position:absolute; top:0; left:0; }
.pro_contact .contact_box ._bd { padding-left:60%; width:40%; }




/*2016-10-14*/
/*通用样式*/
/*通用-数字标题*/
.num_wrap .num_t { display:inline-block; *display:inline; *zoom:1; }
.num_wrap ._wd { display:block; }

/*job-国际招聘-列表*/
.job-sear{ padding:43px 0 27px 30px; border:10px #ededed solid; margin-bottom:50px;}
.job-sear .t-pt{font-size:14px;color: #666666;float: left;line-height:32px;padding: 0 15px 0 5px; text-transform:uppercase;}
.job-sear .t-area{ float:left; width:28%; height:30px; padding-left:10px; line-height:30px; border:1px solid #eee;  text-indent:5px; margin-right:5%;background-color: #fff;}
.job-sear .t-area ._val{color:#a9a9a9;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.job-sear .t-area ._val b{ float:right; width:33px; height:30px; background:url("../img/job-areaico.gif"/*tpa=https://www.cttq.com/en/resources/web/img/job-areaico.gif*/) no-repeat; }
.job-sear .t-area ._option{ top:30px;}
.job-sear .t-area ._option a { padding-left:10px; background-color:#ffffff; white-space:nowrap;text-overflow:ellipsis;overflow:hidden; }

.job-sear .sear_input{ float:left; margin-right:3%; width:16%; padding-left:5px; height:28px; line-height:28px; border:1px solid #eee; position:relative;background-color: #fff;}
.job-sear .sear_input input { text-indent:10px; }
.job-sear .sear_input input[type=text]{ vertical-align:top; border:0;width: 80%;height: 16px; line-height:16px;box-sizing: content-box;padding: 6px 0;}
.job-sear button[type=submit]{ border:0; width:12%; height:30px; line-height: 30px; background-color:#e9564d;padding: 0;float:left;font-size:14px; color:#fff;cursor: pointer; text-transform:uppercase;}
.job-sear .sear_input button i{ display:block;background:url("../img/job-searico.png"/*tpa=https://www.cttq.com/en/resources/web/img/job-searico.png*/) no-repeat; width:100%; height:100%;}
.job-sear button[type=submit]:hover{ background-color:#e9564d;}

.job_list .down .item:hover,.job_list .down .item:hover ._join_us,.job_list .down .item:hover ._txt { color:#ffffff; }
.job_list .down .item_list { margin-bottom:56px; }
.job_list .down .item { position:relative; z-index:1; overflow:hidden; margin-right:-1px; margin-bottom:-1px; padding:55px 42px 45px; background-color:transparent; border:#ccc 1px solid; cursor:pointer; }
.job_list .down .item:after { content:''; display:block; position:absolute; left:0; top:100%; z-index:-1; width:100%; height:100%; background-color:#e9564d; -webkit-transition:all 0.5s ease; transition:all 0.5s ease; }
.job_list .down .item:hover:after { top:0%; }
.job_list .down .item ._wd { padding-bottom:13px; }
.job_list .down .item ._j_tt { position:relative; overflow:hidden; margin-bottom:20px; height:3.2em; line-height:1.6; padding-bottom:15px; font-size:18px; }
.job_list .down .item ._j_tt:after { content:''; display:block; position:absolute; bottom:0; left:0; width:46px; height:1px; background-color:rgba(230,230,230,0.5); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99e6e6e6,endcolorstr=#99e6e6e6); }
.job_list .down .item ._j_subtt { margin-bottom:15px; font-size:14px; text-transform:uppercase; }
.job_list .down .item ._txt { overflow:hidden; margin-bottom:5px; height:8em; font-size:13px; color:#5a5a5a; line-height:2; }
.job_list .down .item ._join_us { font-size:13px; font-weight:normal; color:#e9564d; }
._hr { width:45px; height:1px; }
.job_list .down .item ._hr { position:absolute; left:42px; top:120px; background:url("../../../../resources/web/img/job01.png"/*tpa=https://www.cttq.com/resources/web/img/job01.png*/) 0 0 no-repeat; }
.job_list .down .item:hover ._hr { background:url("../../../../resources/web/img/job02.png"/*tpa=https://www.cttq.com/resources/web/img/job02.png*/); }

/*job-国际招聘-详情*/
.job_det { display:none; position:fixed; left:50%; top:50%; z-index:100; margin-top:-285px; margin-left:-600px; padding:35px 60px; width:1080px; height:500px; background-color:#ffffff; }
.job_det.show { display:block; }
.job_det ._title { margin-bottom:15px; font-size:20px; color:#000000; }
.job_det ._tools { font-size:0; text-align:right; }
.job_det ._tool { 
	display:inline-block; 
	*display:inline; 
	*zoom:1; 
	margin-left:-1px;
	padding:7px 30px; 
	border-color:transparent #f1f1f1 transparent #f1f1f1; 
	border-style:dashed solid dashed solid;
	border-width:0 1px 0 1px;
}
.job_det ._tool ._btn { display:block; width:33px; height:33px; background-image:url("../img/job03.png"/*tpa=https://www.cttq.com/en/resources/web/img/job03.png*/);	background-repeat:no-repeat; cursor:pointer; }
.job_det ._t01 ._btn { background-position:0 0; }
.job_det ._t02 ._btn { background-position:-33px 0; }
.job_det ._t03 ._btn { background-position:-66px 0; }
.job_det ._t01:hover ._btn { background-position:0 -33px; }
.job_det ._t02:hover ._btn { background-position:-33px -33px; }
.job_det ._t03:hover ._btn { background-position:-66px -33px; }
.job_det ._con { position:relative; overflow:hidden; height:425px; font-size:14px; }
.job_det .red { font-size:16px; line-height:2; text-transform:uppercase; }

/*研发栏目*/
/*研发栏目-part01*/
.research .part01 { padding-bottom:90px; }
.research .researchContent { margin-bottom:35px; font-size:15px; color:#5a5a5a; line-height:1.7; }
.i_prolist .prolist li{ float:left;height:340px; width:160px; position:relative; transition: all 0.5s ease;}
.i_prolist .prolist li.cur{width:560px;background-size: cover!important;}
.i_prolist .prolist li .prolist-li{ 
	width:100%; 
	height:100%; 
	/*background:url(../img/ip_bg.png) center top no-repeat;*/ 
/*	background:rgba(0,0,0,.60); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99000000,endcolorstr=#99000000);*/
	background:rgba(0,0,0,.30); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4d000000,endcolorstr=#4d000000);
	position:absolute; 
	top:0; 
	left:0; 
	z-index:5;
}
.i_prolist .prolist li ._info{ position:absolute; left:0; bottom:0; width:100%;overflow:hidden; z-index: 7; font-size:0;}
.i_prolist .prolist li ._info .p,.i_prolist .prolist li ._info ._cn { font-size:16px; }
.i_prolist .prolist li ._info .p{ display:none; white-space:nowrap;text-overflow:ellipsis;overflow:hidden; }
.i_prolist .prolist li ._info ._cn{ position:relative; padding-right:5px; } 
.i_prolist .prolist li ._info ._cn:after { content:''; display:block; position:absolute; top:50%; left:0; margin-top:-8px; margin-left:-30px; width:15px; height:18px; background:url("../img/research02.png"/*tpa=https://www.cttq.com/en/resources/web/img/research02.png*/) 0 0 no-repeat; }
.i_prolist .prolist li ._info ._cn ._cns{ display:inline-block; *display:inline; *zoom:1; font-size:16px; font-weight:normal; color:#fff; position:relative;}
.i_prolist .prolist li.cur .prolist-li{ display:none;}
.i_prolist .prolist li ._info,.i_prolist .prolist li.cur ._info { height:70px; line-height:70px; }
.i_prolist .prolist li.cur ._info{ overflow:hidden; background:rgba(231,70,60,.90); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#e6e7463c,endcolorstr=#e6e7463c);text-align:left;}
.i_prolist .prolist li.cur ._info a{ padding-left:10%; padding-right:1%; width:89%; }
.i_prolist .prolist li a { display:block; position:relative; height:100%; padding-left:30%; }
.i_prolist .prolist li a:before,.i_prolist .prolist li a:after { content:''; display:block; clear:both; }
.i_prolist .prolist li.cur ._info ._cn,.i_prolist .prolist li.cur ._info .p{ display:inline-block; *display:inline; *zoom:1; float:left; }
.i_prolist .prolist li.cur ._info .p{ color:#fff;}
.i_prolist .prolist li.cur ._info ._cn ._cns:before,.i_prolist .prolist li.cur ._info .big{ display:block;}
/*研发栏目-part02*/
.research .part02 { padding-top:40px; padding-bottom:50px; background-color:#f6f6f6; }
.research .part02 ._title { margin-bottom:30px; font-size:30px; font-weight:bold; color:#565656; text-align:center; text-transform:uppercase; }
.research .part02 .num_wrap { text-align:center; }
.research .part02 .num_wrap .num_t,.research .part02 .num_wrap ._wd { color:#7d7d7d; }
.research .part02 .num_wrap .num_t{ position:relative; }
.research .part02 .num_wrap .num_t:after { content:'%'; display:block; position:absolute; bottom:17px; right:0; margin-right:-20px; font-size:16px; }
.research .part02 .num_wrap ._wd { font-size:16px; text-transform:uppercase; }
/*研发栏目-part03*/
.research .part03 { padding-top:30px; }
.research .part03 .ptitle_big { font-size:70px; }
.research .part03 .abt_list { padding:60px 0; border-bottom:#e3e3e3 1px solid; }
.research .part03 .abt_list:last-child,.research .part03 .abt_list.last { border-bottom:none; }
.research .part03 ._img,.research .part03 ._con { float:left; }
.research .part03 .abt_list:nth-child(2n) ._img { float:right; }
.research .part03 .abt_list.eve ._img { float:right; }
.research .part03 ._img { width:41%; }
.research .part03 ._con { padding-left:4%; width:55%; }
.research .part03 .abt_list:nth-child(2n) ._con { padding-left:0; padding-right:4%; }
.research .part03 .abt_list.eve ._con { padding-left:0; padding-right:4%; }
.research .part03 ._wd { overflow:hidden; max-height:11.2em; font-size:15px; }

/*加载等待*/
.loading { margin:0 auto; text-align:center; }
.loading .waiting,.loaded { display:none; }
.loading .waiting .load_ico,.loading .waiting .load_wd { display:inline-block; *display:inline; *zoom:1; }
.loading .waiting .load_ico { width:32px; height:32px; background:url("../img/loading.gif"/*tpa=https://www.cttq.com/en/resources/web/img/loading.gif*/) 0 0 no-repeat; }
.loading .waiting .load_wd { font-size:20px; line-height:32px; }


/*2016-10-17*/
/*产品-详情02*/
.channel.pro_det02 { padding-top:0; padding-bottom:0; }
.pro_det02 .det_bg .ban_pic,.cmain .pro_det02 .det_bg > img { height:540px; }
.pro_det02 .det_bg { position:relative; }
.pro_det02 .det_bg .ban_pic { position:relative; overflow:hidden; }
.pro_det02 .det_bg .ban_pic img { position:absolute; top:0; left:50%; margin-left:-960px; width:1920px; max-width:none; }
.pro_det02 .det_bg .wrap,.pro_det02 .det_bg .cban_t_wrap { position:absolute; top:0; left:50%; margin-left:-600px; z-index:1; }
.pro_det02 .det_bg .pro_pic { position:absolute; z-index:1; bottom:15px; right:50%; margin-right:-600px; width:500px; }
/*.pro_det02 .det_bg .pro_pic img { width:408px; height:413px; }*/
.pro_det02 .det_bg .cban_t_wrap { padding-top:100px; padding-left:20px; width:44%; }
.pro_det02 .det_bg .cban_t_wrap .cban_tt { display:block; padding-bottom:5px; font-size:38px; color:#ffffff; text-transform:uppercase; }
.pro_det02 .det_bg .cban_t_wrap ._sl { display:block; margin-bottom:13px; width:50px; height:3px; background-color:#ffffff; }
.pro_det02 .det_bg .cban_t_wrap .cban_wd { display:block; margin-bottom:55px; font-size:15px; color:#ffffff; }
.pro_det02 .det_bg .cban_t_wrap .cban_wd ._detail { display:block; position:relative; height:6.4em; overflow:hidden; font-size:15px; }
.pro_det02 .det_bg .pro_abtn,.pro_det02 .det_bg .pro_abtn .pro_abtn_con { display:inline-block; *display:inline; *zoom:1; }
.pro_det02 .det_bg .pro_abtn { padding:0 24px; font-size:15px; color:#ffffff; line-height:34px; border:#ffffff 1px solid; }
.pro_det02 .det_bg .pro_abtn:hover { background:rgba(127,128,133,.60); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#997f8085,endcolorstr=#997f8085); }


/*2016-10-21*/
/*partner*/
/*.partner_abt .part01,.partner_abt .part02,.partner_abt .part03 { width:100%; background-position:top center; background-repeat:no-repeat; }
.partner_abt .part01 { height:500px; background-image:url(../img/partner01.jpg); }
.partner_abt .part02 { height:590px; background-image:url(../img/partner02.jpg); }
.partner_abt .part03 { height:720px; background-image:url(../img/partner03.jpg); }*/
/*关于我们*/
.p01_wrap { height:516px; }


/*2016-10-25*/
/*图片*/
.rect-43 { padding-bottom:43%; }
.rect-70 { padding-bottom:70%; }
/*动效*/
.shadow_box,.partner_abt .part02 ._hd,.partner_abt .part02 ._bd,.job_det ._tool ._btn,
	.transition { transition:all 0.3s ease; -webkit-transition:all 0.3s ease; }
/*通用-阴影边框触控*/
.shadow_box { position:relative; }
.shadow_box:hover{ z-index:1; box-shadow:0 10px 30px rgba(0,0,0,.1);-webkit-box-shadow:0 10px 30px rgba(0,0,0,.1); transform:translate3d(0,-2px,0); -webkit-transform:translate3d(0,-2px,0);}
/*产品详情3*/
.pro_det03 .part01 .left { float:left; width:55%; background-image:url("../img/pro04.jpg"/*tpa=https://www.cttq.com/en/resources/web/img/pro04.jpg*/); background-position:center center; background-repeat:no-repeat; background-size:cover; }
.pro_det03 .part01 .ppic_box { position:relative; }
.pro_det03 .part01 .pro_pic { position:absolute; left:11.5%; top:17%; }
.pro_det03 .part01 .pro_pic img { width:90%; }
.pro_det03 .part01 .right { float:right; width:42.5%; background-color:#fafafa; }
.pro_det03 .part01 .right .txt_con { padding:26px 25px 48px 22px; }
.pro_det03 .part01 .right .pro_name,.pro_det03 .part01 .right .pro_weight,
	.pro_det03 .part01 .right .pro_det { padding-left:25px; }
.pro_det03 .part01 .right .more_btn { margin-left:25px; }
.pro_det03 .part01 .right .pro_name { font-size:24px; font-weight:normal; color:#555555; line-height:2.7; }
.pro_det03 .part01 .right .pro_weight { font-size:16px; color:#656565; line-height:2.8; border-width:1px 0 1px 0; border-style:solid dashed solid dashed; border-color:#ececec transparent #ececec transparent; }
.pro_det03 .part01 .right .pro_det { margin-bottom:30px; padding-top:6px; padding-right:25px; }
.pro_det03 .part01 .right ._det_mrk { font-size:17px; color:#f86b6b; line-height:3.4; text-transform:uppercase; }
.pro_det03 .part01 .right .pro_det ._details { position:relative; padding-right:23px; height:10em; overflow:hidden; font-size:14px; color:#656565; line-height:2; }
/*产品详情3-滚动条*/
._details.scrollbar-ui .scroll_bar { width:3px!important; background-color:transparent; background-image:url("../img/sbar_bg.png"/*tpa=https://www.cttq.com/en/resources/web/img/sbar_bg.png*/); background-repeat:repeat-y; background-position:center top; }
._details.scrollbar-ui .scroll_slider { background-color:#f86b6b; }
/*产品详情3-联系我们按钮*/
.pro_det03 .part01 .right .more_btn { display:inline-block; width:auto; height:40px; padding:0 24px; line-height:40px; background-color:#d3d3d3; border:none; }
.pro_det03 .part01 .right .more_btn ._t { font-size:15px; color:#f5f5f5; text-transform:uppercase; }

/*国际合作3*/
/*国际合作3-part01*/
.partner_abt .part01 { padding-bottom:56px; }
.partner_abt .part01 .cata_cell { padding-bottom:20px; text-align:center; background-color:#f9f9f9; }
.partner_abt .part01 .cata_cell ._con { padding-top:40px; }
.partner_abt .part01 .cata_cell ._mrk { display:block; margin:0 auto 32px; width:150px; height:150px; background-image:url("../img/partner04.png"/*tpa=https://www.cttq.com/en/resources/web/img/partner04.png*/); background-repeat:no-repeat; }
.partner_abt .part01 .cata_cell ._m01 { background-position:0 0; }
.partner_abt .part01 .cata_cell ._m02 { background-position:-150px 0; }
.partner_abt .part01 .cata_cell ._m03 { background-position:-300px 0; }
.partner_abt .part01 .cata_cell ._m04 { background-position:-450px 0; }
.partner_abt .part01 .cata_cell ._m05 { background-position:-600px 0; }
.partner_abt .part01 .cata_cell ._name { font-size:18px; color:#5a5a5a; text-transform:uppercase; }
/*国际合作3-part02*/
.partner_abt .part02_bg { height:590px; background-image:url("../img/partner05.jpg"/*tpa=https://www.cttq.com/en/resources/web/img/partner05.jpg*/); background-repeat:no-repeat; background-position:center top; }
.partner_abt .part02_bg .wrap { padding-top:90px; }
.partner_abt .part02 .txt_box { width:66%; }
.partner_abt .part02 ._desc { margin-bottom:60px; font-size:15px; color:#2a2a2a; }
.partner_abt .part02 .left { float:left; margin-right:6%; width:58%; }
.partner_abt .part02 .right { float:right; width:36%; }
.partner_abt .part02 .rec { position:relative; margin-bottom:20px; cursor:default; }
.partner_abt .part02 ._hd { position:absolute; top:50%; left:0; margin-top:-8px; width:17px; height:17px; font-size:16px; background-image:url("../img/ckda.png"/*tpa=https://www.cttq.com/en/resources/web/img/ckda.png*/); background-repeat:no-repeat; }
.partner_abt .part02 .rec:hover ._hd { background-image:url("../img/ckdb.png"/*tpa=https://www.cttq.com/en/resources/web/img/ckdb.png*/); }
.partner_abt .part02 ._bd { padding-left:40px; font-size:16px; color:#000000; }
.partner_abt .part02 .rec:hover ._bd { color:#e9564d; }
/*国际合作3-part03*/
.partner_abt .part03_con { padding-top:55px; }
.partner_list ._cell { position:relative; margin-bottom:20px; }
.partner_list ._cell ._img { width:38%; }
.partner_list ._cell ._txt { position:absolute; top:0; right:0; bottom:0; width:62%; background-color:#f3f3f3; }
.partner_list ._cell ._txt_inn { padding:35px 6% 35px 5%; width:89%; }
.partner_list ._cell ._hd { margin-bottom:20px; font-size:20px; color:#202020; text-transform:uppercase; }
.partner_list ._cell ._bd { height:3.2em; overflow:hidden; font-size:14px; color:#5a5a5a; }


/*2016-10-25*/
/*下层-通用*/
.xc_nav_wrap { background-color:#fbfbfb; }
.xc_nav>ul>li>a { color:#5a5a5a; }
.xc_nav li.cur a,.xc_nav>ul>li>a:hover { color:#ffffff; }
/*面包屑*/
.breadcrumbs,.breadcrumbs a { color:#9e9e9e; }
/*联系我们*/
.widget-job-2 ._jcon { line-height:2; }

/*2016-10-26*/
.full_section { position:relative; }
.full_section ._down_arr { display:block; position:absolute; top:76%; left:50%; margin-left:-16px; width:32px; height:43px; background:url("../img/album04.png"/*tpa=https://www.cttq.com/en/resources/web/img/album04.png*/) 0 0 no-repeat; cursor:pointer; }

/*2016-10-27*/
.pro_contact .ct_box_title {text-transform:none;}
/*.about .part02 .p02_con{padding-bottom:26%;position:relative; height:0; padding-top:0; background:none;}
.about .part02 .p02_con .tt_wrap{padding-top:95px;}
.about .part02 .p02_con img._full{position:absolute;top:0;left:0;width:100%;height:100%;z-index:}*/
/*国际合作3*/
.partner_abt .part01 .ptitle_small { margin-right:-200px!important; }
/*国际招聘*/
.job_det ._con { overflow:auto; }

/*20161104*/
/*foot修改*/
.foot01{padding-top: 81px;}
.foot01 .tel_num{font-size: 45px;}
/*产品列表页修改*/
.iMain_con .xc_nav_wrap .xc_nav{width: 66%;}
.iMain_con .xc_nav_wrap .breadcrumbs{width: 34%;}
/*产品联系我们*/
.pro_contact .ct_box_down ._cbd_inn._half:last-child{padding-left: 3%;width: 47%;}

/*20161105*/
._share_i{display: none;}

/*2016-11-09*/
/*首页*/
.ibanner .slide_nav a.on,.ibanner .slide_nav a:hover { background:url(about:blank); }
/*新闻详情*/
._tools ._number .news_list_ico{display: none;}
.news_detail .st_sharethis_large .stButton .stLarge { display:inline-block; width:20px; height:20px; background-image:url("../img/news_ico.png"/*tpa=https://www.cttq.com/en/resources/web/img/news_ico.png*/)!important; background-repeat:no-repeat;vertical-align:middle;margin-right:4px; background-position:-20px -2px; }
/*关于我们*/
.about .part02 .p02_con { position:relative; }
.about .part02 .p02_con .prt02_txt_box { position:relative; z-index:2; }
.about .part02 .p02_con > img { position:absolute; top:0; left:0; }
/*研发机构*/
.research .prolist > li:nth-child(1) .p,
	.research .prolist > li:nth-child(2) .p,
	.research .prolist > li:nth-child(3) .p { margin-top:-5px; }
.research .prolist > li.proli01 .p,
	.research .prolist > li.proli02 .p,
	.research .prolist > li.proli03 .p { margin-top:-5px; }

.channel .content-37888 .submit{width: 120px;background: #E9564D;border: none;height: 31px;color: #FFFFFF;text-transform: uppercase;}

.channel .content-37888 .sear_f{border: 1px solid  #eee;}

/*2017-04-25*/
/*分享*/
.stButton .stLarge { background-size:inherit!important; }
